<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonWin32" version="2.1.0.3" targetFramework="net472" />
  <package id="DynamicData" version="6.14.14" targetFramework="net472" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net472" />
  <package id="Microsoft.Report.Viewer" version="10.0.0.0" targetFramework="net472" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1404.0" targetFramework="net472" />
  <package id="Microsoft.ReportViewer.2015" version="12.0.2.2403" targetFramework="net472" />
  <package id="Microsoft.ReportViewer.Runtime.Common" version="12.0.2402.15" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net472" />
  <package id="ModernWPF" version="1.4.6" targetFramework="net472" />
  <package id="ReactiveUI" version="11.3.8" targetFramework="net472" />
  <package id="Splat" version="9.4.5" targetFramework="net472" />
  <package id="System.Reactive" version="4.4.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>